main {
}

ul {
	list-style-type: none;
}

li {
	display: inline-block;
}

td {
	width:20%;

}

tr {
	height:30px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.news {
	padding-top: 50px;
	padding-bottom: 50px;
	height: 200px;
}