h2 { font-family: 'Josefin Sans', sans-serif; }

main {
	/* Font size 15 - 25 or */
	font-size: 18px;
	line-height: 120%;
	font-family: 'Playfair Display', serif;
}

ul { list-style-type: none; }

li { display: inline-block; }

td { padding-left: 30px;
	padding-right: 30px;
 }

tr {
	height:30px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.news {
	padding-top: 10px;
	padding-bottom: 10px;
	height: 80px;
}

#newsRow {
	background-color: 
}

.stock {
	overflow-x: auto; /* Responsive table*/
	background-color: #ACF0F2;
}

@media only screen and (max-width: 640px) {
}