h2 { 
	font-family: 'Josefin Sans', sans-serif;
	margin-top: 5%;	
}

h2, h3 {
	text-align: left;
	margin-top: 5%;
}
main, a {
	font-size: 18px;
	line-height: 120%;
	font-family: 'Playfair Display', serif;
}

ul { list-style-type: none; }

li { display: inline-block; }

td { 
	padding-left: 30px;
	padding-right: 30px;
 }

tr {
	height:50px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.stockSearch, .stockChart {
	padding-top: 10px;
	padding-bottom: 10px;
}

.stockSearch {
	background-color: #FFFFFF;
	text-align: left;
	margin-top: 5%;
	margin-bottom: 5%;
	height: 100%;
}


#search {
	width: 90%;
	height: 40px;
	font-size: 25px;
	background-color: #F1F1F1;
	outline: none;
	box-shadow: none;
	border-radius: 5px;
	border: 0px;
	font-family: 'Playfair Display', serif;
	padding-left: 10px;
}

.addStock {
	width: 8%;
	height: 40px;
	font-size: 25px;
	border-radius: 5px;
	border: 0px;
	font-family: 'Playfair Display', serif;
	background-color: #4ea3f9;
	cursor: pointer;
	outline: none;
	color: #F9F9F9;
}

.stockHeader, .newsHeader, .chartHeader {
	background-color: #4992ff;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    border-radius: 5px;
}

.chartHeader {
	background-color: #0a6c9a;
}

.newsHeader {
	background-color: #5f77ea
}

.stock {
	overflow-x: auto; /* Responsive table */
	background-color: #E2F3FF;
	border-radius: 5px;
}

.stockList { padding: 15px 15px; }

.companyData {
	transition-property: background-color;
    transition-duration: 1s;
    transition-timing-function: linear;	
}

.newsFrame {
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #bdd8f5;
    transition-property: background-color;
    transition-duration: 1s;
    transition-timing-function: linear;		
    background-clip: content-box;
    border-radius: 15px;
}

.news {
	border-radius:5px;
	width: 100%;
	cursor:pointer;
	border: 2px;
	box-shadow:none;
	text-align: left;	
	background-color: #bdd8f5;
	font-size: 18px;
	line-height: 120%;
	font-family: 'Playfair Display', serif;
}

.newsFrame:hover {
	border-radius: 5px;
	background-color:#d5edfb;
	border-radius: 15px;
}

.companyData td:hover {
	background-color:#A9B6BF;
	border-radius: 5px;
}

.companyData:hover {
	background-color: #CBDBE5;
}

.newsButton, .newsButtonNoImage {
	border-radius:5px;
	width: 100%;
	cursor:pointer;
	border: 2px;
	box-shadow:none;
	text-align: left;	
	font-size: 18px;
	line-height: 120%;
	font-family: 'Playfair Display', serif;
}

.newsTitle, .newsImage {
	padding-bottom: 20px;
    padding-top: 20px;
}

.newsTitle {
	padding-left: 10px;
}

.title {
	font-weight: bold;
	font-size: 24px;
	line-height: 120%;
}

.paragraph {
	font-size: 16px;
	line-height: 120%;
}

a {
	text-decoration: none; /* Take out the underline */
	color: #3C3A3A;
}

.companyNewsName {
	margin-top: 5%;
	margin-bottom: 2%;
	text-align: left;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 25px;
}

@media only screen and (max-width: 768px) { /* min width imply to mobile first */
	h2, h3 {
		margin-top: 10%;
	}

	h3 {
		padding-top: 10%;
	}

	#search {
		width: 70%;
	}

	.addStock span {
		text-align: center;
	}

	.addStock {
		width: 28%;
	}

	.newsImage {
		padding-bottom: 20px;
	}

	.companyNewsName {
		margin-top: 10%;
	}

	.noImage {
		padding-top: 50px;
	}
}